body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mustTry{
  /* display: inline-block; */
  padding: 4px 12px;
  font-size: 14px;
  color: green;
  background-color: rgb(213, 255, 213);
  border-radius: 12px;
  position: absolute;
  bottom: 0;
  margin: 10px;
}
.dNone{
  display: none;
}
.app{
  display: flex;
  align-items: center;
  justify-content: center;
}